
# Ignore dynaconf secret files
.secrets.*
# Ignore all ipynb files
test/.ipynb_checkpoints/
# Ignore all pycache files
**/__pycache__
# Ignore the virtual python env
hhbbttrun/
# Ignore the exec output
exec/*.log
exec/*.err
exec/*.pem
exec/*.out
# Ignore all log files
**/*.log
.DS_Store
